name: Desktop

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  Build-Desktop:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.6

      - name: Install VLC (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -y libvlc-dev libvlccore-dev

      - name: Install Haxelibs
        run: |
          haxelib install hxcpp
          haxelib install lime
          haxelib install openfl
          haxelib install flixel
          haxelib install flixel-ui
          haxelib install flixel-addons
          haxelib install flxanimate
          haxelib install json2object
          haxelib install polymod
          haxelib install hscript
          haxelib install hxvlc
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc

          haxelib install hmm
          haxelib run hmm install

      - name: Build Windows
        if: startsWith(matrix.os, 'windows')
        run: haxelib run lime build windows -D officialBuild

      - name: Build Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: haxelib run lime build linux -D officialBuild

      - name: Build macOS
        if: startsWith(matrix.os, 'macos')
        run: haxelib run lime build mac -D officialBuild

      - uses: actions/upload-artifact@v4
        if: startsWith(matrix.os, 'windows')
        with:
          name: windowsBuild
          path: export/release/windows/bin/*

      - uses: actions/upload-artifact@v4
        if: startsWith(matrix.os, 'ubuntu')
        with:
          name: linuxBuild
          path: export/release/linux/bin/*

      - uses: actions/upload-artifact@v4
        if: startsWith(matrix.os, 'macos')
        with:
          name: macBuild
          path: export/release/macos/bin/*
